.saved-container{
  .image-container{
    height: calc(100vh - 137.69px);
    background-image: url('../../img/watch_this_space.jpg');
    background-repeat: repeat;
    background-size:contain;
    background-position: 50% 0;
  }
  div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    // translate: 0 -250%;

    h2{
      font-size: 3rem;
    }

    p{
      font-size: 1.5rem;
    }
  }
}